<!-- 23 EJS Template Engine -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>profile page</title>
</head>

<body>

    <h2>Welcome <%= user.name %>
    </h2>
    <h2>Email: <%= user.email %>
    </h2>
    <h2>City: <%= user.city %>
    </h2>

</body>

</html> -->





<!-- 24 Dynamic Page with ejs -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>profile page</title>
</head>

<body>
    23 EJS Template Engine

    <%- include('common/header')%>
        <h2>Welcome <%= user.name %>
        </h2>
        <h2>Email: <%= user.email %>
        </h2>
        <h2>City: <%= user.city %>
        </h2>
        <h2>Skills: <%= user.skills %>
        </h2>

        <ul>
            <% user.skills.forEach((item)=>{ %>
                <li>
                    <%= item %>
                </li>
                <% }) %>
        </ul>
</body>

</html> -->